@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="text-center">
        <img class="img-fluid mx-auto" width="800" src="~/Content/img/iconos/portada.png" />
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nueva temporada</h2>
        <p>Nueva temporada del Goiztiri Agrupacion Deportiva...Aupa Goiztiri!!!</p>
        <!-- 21:9 aspect ratio -->

        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/w4RXihk5FwY?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="641" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><a class="btn btn-default" href="https://www.facebook.com/photo.php?fbid=10216168120893939&set=a.4208431487251&type=3&theater">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cena de Equipo</h2>
        <p>
            No pudo ser,empate a 1 en Bakio,pero después todos juntos de nuevo. Aún queda mucho,mucho por hacer...
       
        </p>
        <img class="img-fluid mx-auto" width="800" src="https://scontent.fbio1-1.fna.fbcdn.net/v/t1.0-9/44961446_10216168121093944_1334629317358911488_n.jpg?_nc_cat=105&_nc_ht=scontent.fbio1-1.fna&oh=8cec3bf2cdc89504bd092d644c3a8cc6&oe=5C4553BC" />
        <p><a class="btn btn-default" href="https://www.facebook.com/photo.php?fbid=10216168120893939&set=a.4208431487251&type=3&theater">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestra Cantera</h2>
        <p>Nos ganaron ... Y que!!!...y lo bien que se lo pasan...eso es lo importante!!!... </p>
        <img class="img-fluid mx-auto" width="800" src="https://scontent.fbio1-1.fna.fbcdn.net/v/t1.0-9/44870331_10212695172355981_5742032891458617344_n.jpg?_nc_cat=105&_nc_ht=scontent.fbio1-1.fna&oh=226f7b824bc56362025417994bedda66&oe=5C789BAE" />
        <p><a class="btn btn-default" href="https://www.facebook.com/photo.php?fbid=10216168120893939&set=a.4208431487251&type=3&theater">Leer más &raquo;</a></p>
    </div>
</div>